In [1]:
import pandas as pd

####Import Data

In [2]:
hospice_df = pd.read_csv ('data/Hospice_General_Information.csv')
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
0,11500,BAPTIST HOSPICE,301 INTERSTATE PARK,NaN,MONTGOMERY,AL,36109,Montgomery,(334) 395-5000,4,Other,03/23/1984
1,11501,SOUTHERNCARE NEW BEACON N. BIRMINGHAM,"4735 NORREL DRIVE, SUITE 129",NaN,TRUSSVILLE,AL,35173,Jefferson,(205) 939-8799,4,For-Profit,05/24/1984

In [3]:
hospice_df = hospice_df.loc[hospice_df.State=='TN']
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [4]:
hospice_df.columns = ['ccn', 'facility', 'address', 'address2', 'city', 'state', 'zip', 'county', 'phone', 'region', 'owner_type', 'cart_date']

In [5]:
hospice_df.drop (columns =['ccn', 'address2', 'zip', 'phone'], inplace = True)
hospice_df.head(2)

,facility,address,city,state,county,region,owner_type,cart_date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984

In [6]:
print('top:', hospice_df.head())
print('---------------------')
print('bottom:', hospice_df.tail())

top:                                 facility                            address  \
2889                   ALIVE HOSPICE INC                1718 PATTERSON ROAD
2890          METHODIST ALLIANCE HOSPICE  6400 SHELBY VIEW DRIVE, SUITE 101
2891          HOSPICE OF CHATTANOOGA INC                 4411 OAKWOOD DRIVE
2892               AMEDISYS HOSPICE CARE          6570 STAGE ROAD SUITE 110
2893  NORTHCREST HOME HEALTH AND HOSPICE               212 NORTHCREST DRIVE

             city state     county  region  owner_type   cart_date
2889    NASHVILLE    TN   Davidson       4  Non-Profit  04/10/1984
2890      MEMPHIS    TN     Shelby       4  Non-Profit  08/31/1984
2891  CHATTANOOGA    TN   Hamilton       4  Non-Profit  06/30/1986
2892     BARTLETT    TN     Shelby       4  For-Profit  02/09/1987
2893  SPRINGFIELD    TN  Robertson       4       Other  07/13/1987
---------------------
bottom:                                   facility                        address  \
2940        ENCOMPASS HOSPICE OF TENNESSEE    828 ROYAL PARKWAY SUITE 113
2941                       QUALITY HOSPICE        341 WEST CENTRAL AVENUE
2942                        HEARTH HOSPICE  1800A ROSSVILLE AVE SUITE 114
2943  AMEDISYS HOSPICE, AN ADVENTA COMPANY              400 ROYAL PARKWAY
2944                       KINDRED HOSPICE        430 STUART RD NE, STE 2

             city state    county  region  owner_type   cart_date
2940    NASHVILLE    TN  Davidson       4  For-Profit  06/16/2010
2941    JAMESTOWN    TN  Fentress       4  For-Profit  01/04/2013
2942  CHATTANOOGA    TN  Hamilton       4  For-Profit  03/22/2013
2943    NASHVILLE    TN  Davidson       4       Other  01/05/2016
2944    CLEVELAND    TN   Bradley       4  For-Profit  01/04/2017

In [7]:
hospice_df.shape

(56, 8)

In [8]:
cancer_df = pd.read_csv ('data/cancer_deaths.csv', skiprows=4, nrows=97)
cancer_df.head(30)

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3
5,Claiborne County,47025,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4
6,Hancock County,47067,No,236.2,193.1,287.1,22,stable,0.4,-0.8,1.6
7,Union County,47173,No,234.2,206.1,265.3,53,stable,-0.5,-1.2,0.2
8,Benton County,47005,No,233.9,207.1,263.6,59,stable,0.3,-0.4,1.1
9,Houston County,47083,No,227.4,188.9,272.1,26,stable,0.4,-0.6,1.3
10,Sequatchie County,47153,No,224.3,194.3,257.9,43,rising,1.3,0.3,2.3
11,Cocke County,47029,No,222.1,203.5,242.2,110,stable,-0.5,-1.0,0.0
12,Grainger County,47057,No,222.0,197.9,248.4,66,stable,0.1,-0.7,1.0
13,Carroll County,47017,No,221.8,201.2,244.1,89,stable,-0.2,-0.7,0.2
14,Lake County,47095,No,220.4,178.3,270.1,19,stable,-0.3,-1.4,0.8
15,Campbell County,47013,No,219.2,201.8,237.7,124,stable,-0.4,-0.8,0.0
16,Stewart County,47161,No,218.2,188.3,252.0,40,stable,0.1,-1.2,1.4
17,Overton County,47133,No,217.0,193.8,242.4,67,stable,-0.3,-1.1,0.5
18,Marion County,47115,No,216.7,195.8,239.4,83,stable,-0.4,-1.1,0.3
19,White County,47185,No,216.3,195.1,239.4,79,stable,-0.6,-1.3,0.0
20,Perry County,47135,No,216.0,178.5,259.9,25,stable,0.0,-1.4,1.5
21,Johnson County,47091,No,215.8,190.6,243.8,55,stable,0.1,-0.8,1.1
22,Meigs County,47121,No,214.3,181.7,251.5,34,stable,0.5,-0.8,1.9
23,Obion County,47131,No,214.1,194.6,235.2,92,stable,0.0,-0.5,0.6
24,Humphreys County,47085,No,212.3,187.3,240.1,54,stable,-0.2,-0.9,0.5
25,Macon County,47111,No,211.5,187.3,238.1,57,stable,-0.2,-0.7,0.4
26,Fentress County,47049,No,211.1,185.3,239.8,52,stable,-0.5,-1.2,0.3
27,Grundy County,47061,No,210.7,181.5,243.6,40,stable,0.5,-0.6,1.6
28,Tipton County,47167,No,210.6,194.5,227.6,134,stable,-0.2,-0.8,0.3
29,Polk County,47139,No,209.5,183.6,238.4,50,stable,-0.8,-1.9,0.3

In [9]:
cancer_df.columns = ['county', 'fips', 'healthy_people_objective', 'age_adj_death_rate', 'lower95_confint', 'upper95_confint', 'avg_annual_count', 'recent_trend','5year_death_trend','lower95_confint1','upper95_confint2']
cancer_df.head()

,county,fips,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [10]:
cancer_df.shape

(97, 11)

In [11]:
pop_df = pd.read_csv ('data/PEP_2017_PEPAGESEX.csv', skiprows=1)
pop_df.head() 
pop_df.tail()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
90,0500000US47181,47181,"Wayne County, Tennessee",17021,9402,7619,17027,9404,7623,16987,...,45.8,42.6,39.8,46.5,42.7,39.9,46.7,43.1,40.0,47.4
91,0500000US47183,47183,"Weakley County, Tennessee",35021,17159,17862,35015,17157,17858,35042,...,39.2,37.6,36.0,39.2,37.9,36.2,39.6,38.3,36.6,40.1
92,0500000US47185,47185,"White County, Tennessee",25841,12640,13201,25836,12637,13199,25821,...,44.0,42.7,41.0,44.2,42.8,41.2,44.3,42.8,41.3,44.4
93,0500000US47187,47187,"Williamson County, Tennessee",183182,89336,93846,183252,89371,93881,184130,...,39.7,39.0,38.2,39.7,39.0,38.3,39.7,39.0,38.3,39.7
94,0500000US47189,47189,"Wilson County, Tennessee",113993,55834,58159,114057,55863,58194,114677,...,41.1,40.2,39.2,41.1,40.0,39.0,40.9,39.9,39.0,40.8

In [12]:
pop_df.shape
#list(pop_df)

(95, 993)

In [13]:
pop_df.columns

Index(['Id', 'Id2', 'Geography', 'April 1, 2010 - Census - Both Sexes; Total',
       'April 1, 2010 - Census - Male; Total',
       'April 1, 2010 - Census - Female; Total',
       'April 1, 2010 - Estimates Base - Both Sexes; Total',
       'April 1, 2010 - Estimates Base - Male; Total',
       'April 1, 2010 - Estimates Base - Female; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       ...
       'Population Estimate (as of July 1) - 2014 - Females; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Female; Median age (years)'],
      dtype='object', length=993)

In [14]:
april_data = [col for col in pop_df.columns if col.startswith('April')]
pop_df = pop_df.drop(april_data, axis = 1)

In [15]:
pop_df.shape

(95, 795)

In [16]:
#list(pop_df)

In [17]:
data2011 = [col for col in pop_df.columns if '2011' in col]
pop_df = pop_df.drop(data2011, axis = 1)

In [18]:
pop_df.shape

(95, 696)

In [19]:
data2012 = [col for col in pop_df.columns if '2012'in col]
pop_df = pop_df.drop(data2012, axis = 1)

In [20]:
data2013 = [col for col in pop_df.columns if '2013'in col]
pop_df = pop_df.drop(data2013, axis = 1)

In [21]:
data2015 = [col for col in pop_df.columns if '2015'in col]
pop_df = pop_df.drop(data2015, axis = 1)

In [22]:
data2016 = [col for col in pop_df.columns if '2016'in col]
pop_df = pop_df.drop(data2016, axis = 1)

In [23]:
list(pop_df.columns)

['Id',
 'Id2',
 'Geography',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2010 - Male; Total',
 'Population Estimate (as of July 1) - 2010 - Female; Total',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2014 - Male; Total',
 'Population Estimate (as of July 1) - 2014 - Females; Total',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2017 - Male; Total',
 'Population Estimate (as of July 1) - 2017 - Female; Total',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years',
 'Population Estimate (as of July 1) - 2010 - Male; Under 18 years',
 'Population Estimate (as of July 1) - 2010 - Female; Under 18 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years',
 'Population Estimate (as of July 1) - 2014 - Male; Under 18 years',
 'Population Estimate (as of July 1) - 2014 - Females; Under 18 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years',
 'Population Estimate (as of July 1) - 2017 - Male; Under 18 years',
 'Population Estimate (as of July 1) - 2017 - Female; Under 18 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Male; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Female; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Male; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Females; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Male; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Female; Under 18 years - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2010 - Male; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2010 - Female; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2014 - Male; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2014 - Females; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2017 - Male; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2017 - Female; Under 18 years - 5 to 13 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2010 - Male; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2010 - Female; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2014 - Male; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2014 - Females; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2017 - Male; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2017 - Female; Under 18 years - 14 to 17 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Male; 18 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Female; 18 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Male; 18 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Females; 18 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Male; 18 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Female; 18 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Male; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Female; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Male; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Females; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Male; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Female; 18 to 64 years - 18 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Male; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Female; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Male; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Females; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Male; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Female; 18 to 64 years - 25 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Male; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Female; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Male; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Females; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Male; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Female; 18 to 64 years - 45 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; 65 years and over',
 'Population Estimate (as of July 1) - 2010 - Male; 65 years and over',
 'Population Estimate (as of July 1) - 2010 - Female; 65 years and over',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; 65 years and over',
 'Population Estimate (as of July 1) - 2014 - Male; 65 years and over',

In [24]:
data2016 = [col for col in pop_df.columns if '2016'in col]
pop_df = pop_df.drop(data2016, axis = 1)

In [25]:
dataMale = [col for col in pop_df.columns if 'Male'in col]
pop_df = pop_df.drop(dataMale, axis = 1)

In [26]:
dataFemale = [col for col in pop_df.columns if 'Female'in col]
pop_df = pop_df.drop(dataFemale, axis = 1)

In [27]:
pop_df.shape

(95, 102)

In [28]:
dataunder = [col for col in pop_df.columns if 'Under'in col]
pop_df = pop_df.drop(dataunder, axis = 1)

In [29]:
data59 = [col for col in pop_df.columns if '5 to 9'in col]
pop_df = pop_df.drop(data59, axis = 1)
#list(pop_df)

In [30]:
data15 = [col for col in pop_df.columns if ' 15 'in col]
pop_df = pop_df.drop(data15, axis = 1)
#list(pop_df)

In [31]:
data45 = [col for col in pop_df.columns if ' 45 'in col]
pop_df = pop_df.drop(data45, axis = 1)
#list(pop_df)

In [32]:
data20 = [col for col in pop_df.columns if ' 20 'in col]
pop_df = pop_df.drop(data20, axis = 1)
#list(pop_df)

In [33]:
data10 = [col for col in pop_df.columns if ' 10 'in col]
pop_df = pop_df.drop(data10, axis = 1)
#list(pop_df)

In [34]:
data25 = [col for col in pop_df.columns if ' 25 'in col]
pop_df = pop_df.drop(data25, axis = 1)
#list(pop_df)

In [35]:
data18 = [col for col in pop_df.columns if ' 18 'in col]
pop_df = pop_df.drop(data18, axis = 1)
#list(pop_df)

In [36]:
data30 = [col for col in pop_df.columns if ' 30 'in col]
pop_df = pop_df.drop(data30, axis = 1)
#list(pop_df)

In [37]:
data35 = [col for col in pop_df.columns if ' 35 'in col]
pop_df = pop_df.drop(data35, axis = 1)
#list(pop_df)

In [38]:
data16 = [col for col in pop_df.columns if ' 16 'in col]
pop_df = pop_df.drop(data16, axis = 1)
#list(pop_df)

In [39]:
data40 = [col for col in pop_df.columns if ' 40 'in col]
pop_df = pop_df.drop(data40, axis = 1)
#list(pop_df)

In [40]:
pop_df.shape

(95, 39)

In [41]:
data65years = [col for col in pop_df.columns if ' 65 years and over'in col]
pop_df = pop_df.drop(data65years, axis = 1)
#list(pop_df)

In [42]:
databoth85years = [col for col in pop_df.columns if ' Both Sexes; 85 years and over'in col]
pop_df = pop_df.drop(databoth85years, axis = 1)
#list(pop_df)

In [43]:
pop_df.shape

(95, 33)

In [44]:
pop_df.head(10)

,Id,Id2,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years,...,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,...,2501,1969,1779,1785,2135,2211,2173,42.6,43.3,43.2
1,0500000US47003,47003,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,...,1321,756,729,811,647,679,640,36.5,37.2,37.5
2,0500000US47005,47005,"Benton County, Tennessee",16511,16176,15986,1259,1204,1179,1224,...,717,414,399,418,362,409,415,45.6,46.7,47.4
3,0500000US47007,47007,"Bledsoe County, Tennessee",12882,14419,14717,1005,1216,1185,903,...,510,234,275,267,178,209,264,42.5,43.3,43.9
4,0500000US47009,47009,"Blount County, Tennessee",123213,125827,129929,9152,9658,9522,8657,...,4663,2550,2591,2939,2390,2656,2786,41.5,43.1,43.8
5,0500000US47011,47011,"Bradley County, Tennessee",99096,102816,105560,6967,7306,7216,6177,...,3303,1752,1955,2118,1446,1714,1872,38.2,39.0,39.7
6,0500000US47013,47013,"Campbell County, Tennessee",40735,39895,39648,2883,2863,2866,2864,...,1564,817,913,967,706,741,819,41.9,43.3,44.0
7,0500000US47015,47015,"Cannon County, Tennessee",13801,13614,14216,1093,1080,1081,930,...,470,257,288,307,257,262,279,41.5,42.6,42.5
8,0500000US47017,47017,"Carroll County, Tennessee",28448,28358,27860,1966,2044,1959,1945,...,994,695,674,691,669,661,670,42.0,42.2,42.7
9,0500000US47019,47019,"Carter County, Tennessee",57340,56270,56488,4311,4195,4145,4099,...,2320,1287,1326,1434,1101,1309,1395,42.3,44.3,45.3

In [45]:
pop_df= pop_df.drop(['Id', 'Id2'], axis=1)

In [46]:
pop_df.shape

(95, 31)

In [47]:
list(pop_df.columns)

['Geography',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)']

In [48]:
pop_df.columns = ['county', 'pop2010all', 'pop2014all', 'pop2017all','pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64',
    'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84',
    'pop2010_85over', 'pop2014_85over', 'pop2017_85over', 'median_age_2010', 'median_age_2014', 'median_age_2017']

In [49]:
pop_df.head(15)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over,median_age_2010,median_age_2014,median_age_2017
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,2501,1969,1779,1785,2135,2211,2173,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,1321,756,729,811,647,679,640,36.5,37.2,37.5
2,"Benton County, Tennessee",16511,16176,15986,1259,1204,1179,1224,1239,1206,...,717,414,399,418,362,409,415,45.6,46.7,47.4
3,"Bledsoe County, Tennessee",12882,14419,14717,1005,1216,1185,903,1100,1197,...,510,234,275,267,178,209,264,42.5,43.3,43.9
4,"Blount County, Tennessee",123213,125827,129929,9152,9658,9522,8657,9094,9615,...,4663,2550,2591,2939,2390,2656,2786,41.5,43.1,43.8
5,"Bradley County, Tennessee",99096,102816,105560,6967,7306,7216,6177,6774,7199,...,3303,1752,1955,2118,1446,1714,1872,38.2,39.0,39.7
6,"Campbell County, Tennessee",40735,39895,39648,2883,2863,2866,2864,2810,2719,...,1564,817,913,967,706,741,819,41.9,43.3,44.0
7,"Cannon County, Tennessee",13801,13614,14216,1093,1080,1081,930,994,1059,...,470,257,288,307,257,262,279,41.5,42.6,42.5
8,"Carroll County, Tennessee",28448,28358,27860,1966,2044,1959,1945,1944,1968,...,994,695,674,691,669,661,670,42.0,42.2,42.7
9,"Carter County, Tennessee",57340,56270,56488,4311,4195,4145,4099,4273,4124,...,2320,1287,1326,1434,1101,1309,1395,42.3,44.3,45.3
10,"Cheatham County, Tennessee",39122,39604,40330,3249,3397,3280,2723,2974,3224,...,963,503,530,594,360,395,461,39.4,40.5,40.9
11,"Chester County, Tennessee",17193,17101,17119,1112,1132,1090,990,1099,1117,...,511,336,385,367,342,353,360,36.3,37.5,38.0
12,"Claiborne County, Tennessee",32216,31529,31609,2374,2180,2262,2361,2359,2218,...,1124,567,671,740,517,508,529,41.1,42.7,43.2
13,"Clay County, Tennessee",7851,7639,7703,557,582,581,570,546,551,...,386,180,203,215,153,175,190,45.1,46.5,47.3
14,"Cocke County, Tennessee",35641,35201,35556,2784,2758,2618,2669,2748,2780,...,1348,698,791,847,549,570,621,43.0,44.4,45.3

In [50]:
pop_df.county.replace("County, Tennessee", "", regex=True, inplace=True)

In [51]:
pop_df.head(20)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over,median_age_2010,median_age_2014,median_age_2017
0,Anderson,75112,75131,76257,5850,5690,5296,5577,5689,5643,...,2501,1969,1779,1785,2135,2211,2173,42.6,43.3,43.2
1,Bedford,45086,46259,48117,3043,3207,3239,2646,2938,3143,...,1321,756,729,811,647,679,640,36.5,37.2,37.5
2,Benton,16511,16176,15986,1259,1204,1179,1224,1239,1206,...,717,414,399,418,362,409,415,45.6,46.7,47.4
3,Bledsoe,12882,14419,14717,1005,1216,1185,903,1100,1197,...,510,234,275,267,178,209,264,42.5,43.3,43.9
4,Blount,123213,125827,129929,9152,9658,9522,8657,9094,9615,...,4663,2550,2591,2939,2390,2656,2786,41.5,43.1,43.8
5,Bradley,99096,102816,105560,6967,7306,7216,6177,6774,7199,...,3303,1752,1955,2118,1446,1714,1872,38.2,39.0,39.7
6,Campbell,40735,39895,39648,2883,2863,2866,2864,2810,2719,...,1564,817,913,967,706,741,819,41.9,43.3,44.0
7,Cannon,13801,13614,14216,1093,1080,1081,930,994,1059,...,470,257,288,307,257,262,279,41.5,42.6,42.5
8,Carroll,28448,28358,27860,1966,2044,1959,1945,1944,1968,...,994,695,674,691,669,661,670,42.0,42.2,42.7
9,Carter,57340,56270,56488,4311,4195,4145,4099,4273,4124,...,2320,1287,1326,1434,1101,1309,1395,42.3,44.3,45.3
10,Cheatham,39122,39604,40330,3249,3397,3280,2723,2974,3224,...,963,503,530,594,360,395,461,39.4,40.5,40.9
11,Chester,17193,17101,17119,1112,1132,1090,990,1099,1117,...,511,336,385,367,342,353,360,36.3,37.5,38.0
12,Claiborne,32216,31529,31609,2374,2180,2262,2361,2359,2218,...,1124,567,671,740,517,508,529,41.1,42.7,43.2
13,Clay,7851,7639,7703,557,582,581,570,546,551,...,386,180,203,215,153,175,190,45.1,46.5,47.3
14,Cocke,35641,35201,35556,2784,2758,2618,2669,2748,2780,...,1348,698,791,847,549,570,621,43.0,44.4,45.3
15,Coffee,52770,53521,55034,3841,3938,3796,3433,3710,3857,...,1743,1147,1188,1218,966,1003,1085,39.8,40.0,39.8
16,Crockett,14588,14645,14473,1043,1122,1019,901,964,1036,...,483,298,296,343,345,360,342,39.6,40.0,40.5
17,Cumberland,56197,57836,59078,3818,3901,3620,3783,4020,4243,...,3646,1871,2058,2206,1273,1588,1713,48.4,50.0,51.4
18,Davidson,627973,670314,691243,42340,43565,40889,37772,41623,41751,...,13373,9534,9056,9228,8999,9754,10028,34.0,34.4,34.4
19,Decatur,11718,11680,11751,860,856,795,852,910,903,...,513,313,330,331,316,331,342,44.3,45.5,45.8

In [52]:
cancer_df.head(10)

,county,fips,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3
5,Claiborne County,47025,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4
6,Hancock County,47067,No,236.2,193.1,287.1,22,stable,0.4,-0.8,1.6
7,Union County,47173,No,234.2,206.1,265.3,53,stable,-0.5,-1.2,0.2
8,Benton County,47005,No,233.9,207.1,263.6,59,stable,0.3,-0.4,1.1
9,Houston County,47083,No,227.4,188.9,272.1,26,stable,0.4,-0.6,1.3

In [53]:
cancer_df.rename(columns={'County':'county'}, inplace=True)

In [54]:
cancer_df.head()

,county,fips,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [55]:
cancer_df.county.replace("County", "", regex=True, inplace=True)

In [56]:
cancer_df.head(10)

,county,fips,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3
5,Claiborne,47025,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4
6,Hancock,47067,No,236.2,193.1,287.1,22,stable,0.4,-0.8,1.6
7,Union,47173,No,234.2,206.1,265.3,53,stable,-0.5,-1.2,0.2
8,Benton,47005,No,233.9,207.1,263.6,59,stable,0.3,-0.4,1.1
9,Houston,47083,No,227.4,188.9,272.1,26,stable,0.4,-0.6,1.3

In [57]:
pop_and_cancer =pd.merge(pop_df, cancer_df, on='county', how='outer')

In [58]:
pop_and_cancer.shape
pop_and_cancer.head(20)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,fips,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2
0,Anderson,75112.0,75131.0,76257.0,5850.0,5690.0,5296.0,5577.0,5689.0,5643.0,...,47001,No,180.6,169.1,192.7,195,falling,-0.7,-1.2,-0.2
1,Bedford,45086.0,46259.0,48117.0,3043.0,3207.0,3239.0,2646.0,2938.0,3143.0,...,47003,No,182.7,166.1,200.6,92,falling,-0.7,-1.4,-0.1
2,Benton,16511.0,16176.0,15986.0,1259.0,1204.0,1179.0,1224.0,1239.0,1206.0,...,47005,No,233.9,207.1,263.6,59,stable,0.3,-0.4,1.1
3,Bledsoe,12882.0,14419.0,14717.0,1005.0,1216.0,1185.0,903.0,1100.0,1197.0,...,47007,No,170.0,143.5,200.6,31,falling,-1.3,-2.3,-0.3
4,Blount,123213.0,125827.0,129929.0,9152.0,9658.0,9522.0,8657.0,9094.0,9615.0,...,47009,No,168.2,159.4,177.4,283,falling,-0.9,-1.3,-0.4
5,Bradley,99096.0,102816.0,105560.0,6967.0,7306.0,7216.0,6177.0,6774.0,7199.0,...,47011,No,183.0,172.2,194.3,220,falling,-1.0,-1.4,-0.5
6,Campbell,40735.0,39895.0,39648.0,2883.0,2863.0,2866.0,2864.0,2810.0,2719.0,...,47013,No,219.2,201.8,237.7,124,stable,-0.4,-0.8,0.0
7,Cannon,13801.0,13614.0,14216.0,1093.0,1080.0,1081.0,930.0,994.0,1059.0,...,47015,No,202.4,174.2,234.3,38,stable,-0.2,-1.1,0.7
8,Carroll,28448.0,28358.0,27860.0,1966.0,2044.0,1959.0,1945.0,1944.0,1968.0,...,47017,No,221.8,201.2,244.1,89,stable,-0.2,-0.7,0.2
9,Carter,57340.0,56270.0,56488.0,4311.0,4195.0,4145.0,4099.0,4273.0,4124.0,...,47019,No,176.2,163.4,189.9,145,falling,-1.0,-1.6,-0.4
10,Cheatham,39122.0,39604.0,40330.0,3249.0,3397.0,3280.0,2723.0,2974.0,3224.0,...,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3
11,Chester,17193.0,17101.0,17119.0,1112.0,1132.0,1090.0,990.0,1099.0,1117.0,...,47023,No,178.4,153.5,206.5,38,stable,-0.4,-1.5,0.8
12,Claiborne,32216.0,31529.0,31609.0,2374.0,2180.0,2262.0,2361.0,2359.0,2218.0,...,47025,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4
13,Clay,7851.0,7639.0,7703.0,557.0,582.0,581.0,570.0,546.0,551.0,...,47027,No,209.1,174.1,250.3,26,stable,-1.0,-2.0,0.0
14,Cocke,35641.0,35201.0,35556.0,2784.0,2758.0,2618.0,2669.0,2748.0,2780.0,...,47029,No,222.1,203.5,242.2,110,stable,-0.5,-1.0,0.0
15,Coffee,52770.0,53521.0,55034.0,3841.0,3938.0,3796.0,3433.0,3710.0,3857.0,...,47031,No,194.2,179.4,209.9,131,falling,-0.7,-1.2,-0.2
16,Crockett,14588.0,14645.0,14473.0,1043.0,1122.0,1019.0,901.0,964.0,1036.0,...,47033,No,164.1,139.1,192.7,31,stable,-0.5,-1.3,0.4
17,Cumberland,56197.0,57836.0,59078.0,3818.0,3901.0,3620.0,3783.0,4020.0,4243.0,...,47035,No,174.4,162.5,187.0,182,falling,-0.8,-1.3,-0.3
18,Davidson,627973.0,670314.0,691243.0,42340.0,43565.0,40889.0,37772.0,41623.0,41751.0,...,47037,No,184.7,179.8,189.7,1137,falling,-1.5,-1.7,-1.2
19,Decatur,11718.0,11680.0,11751.0,860.0,856.0,795.0,852.0,910.0,903.0,...,47039,No,208.7,179.4,242.1,39,stable,-0.2,-1.2,0.8

In [59]:
cancer_df.head(50)

,county,fips,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3
5,Claiborne,47025,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4
6,Hancock,47067,No,236.2,193.1,287.1,22,stable,0.4,-0.8,1.6
7,Union,47173,No,234.2,206.1,265.3,53,stable,-0.5,-1.2,0.2
8,Benton,47005,No,233.9,207.1,263.6,59,stable,0.3,-0.4,1.1
9,Houston,47083,No,227.4,188.9,272.1,26,stable,0.4,-0.6,1.3
10,Sequatchie,47153,No,224.3,194.3,257.9,43,rising,1.3,0.3,2.3
11,Cocke,47029,No,222.1,203.5,242.2,110,stable,-0.5,-1.0,0.0
12,Grainger,47057,No,222.0,197.9,248.4,66,stable,0.1,-0.7,1.0
13,Carroll,47017,No,221.8,201.2,244.1,89,stable,-0.2,-0.7,0.2
14,Lake,47095,No,220.4,178.3,270.1,19,stable,-0.3,-1.4,0.8
15,Campbell,47013,No,219.2,201.8,237.7,124,stable,-0.4,-0.8,0.0
16,Stewart,47161,No,218.2,188.3,252.0,40,stable,0.1,-1.2,1.4
17,Overton,47133,No,217.0,193.8,242.4,67,stable,-0.3,-1.1,0.5
18,Marion,47115,No,216.7,195.8,239.4,83,stable,-0.4,-1.1,0.3
19,White,47185,No,216.3,195.1,239.4,79,stable,-0.6,-1.3,0.0
20,Perry,47135,No,216.0,178.5,259.9,25,stable,0.0,-1.4,1.5
21,Johnson,47091,No,215.8,190.6,243.8,55,stable,0.1,-0.8,1.1
22,Meigs,47121,No,214.3,181.7,251.5,34,stable,0.5,-0.8,1.9
23,Obion,47131,No,214.1,194.6,235.2,92,stable,0.0,-0.5,0.6
24,Humphreys,47085,No,212.3,187.3,240.1,54,stable,-0.2,-0.9,0.5
25,Macon,47111,No,211.5,187.3,238.1,57,stable,-0.2,-0.7,0.4
26,Fentress,47049,No,211.1,185.3,239.8,52,stable,-0.5,-1.2,0.3
27,Grundy,47061,No,210.7,181.5,243.6,40,stable,0.5,-0.6,1.6
28,Tipton,47167,No,210.6,194.5,227.6,134,stable,-0.2,-0.8,0.3
29,Polk,47139,No,209.5,183.6,238.4,50,stable,-0.8,-1.9,0.3
30,Clay,47027,No,209.1,174.1,250.3,26,stable,-1.0,-2.0,0.0
31,Decatur,47039,No,208.7,179.4,242.1,39,stable,-0.2,-1.2,0.8
32,Wayne,47181,No,207.4,181.4,236.4,47,stable,0.1,-0.6,0.9
33,Henderson,47077,No,207.0,185.7,230.2,72,stable,-0.4,-1.0,0.3
34,Lauderdale,47097,No,205.6,182.9,230.5,62,falling,-0.6,-1.2,-0.1
35,McNairy,47109,No,205.4,184.9,227.9,76,stable,-0.2,-0.8,0.5
36,Marshall,47117,No,204.8,184.0,227.3,75,stable,-0.4,-1.0,0.3
37,Lewis,47101,No,203.5,172.9,238.4,33,stable,-0.6,-1.2,0.0
38,Cannon,47015,No,202.4,174.2,234.3,38,stable,-0.2,-1.1,0.7
39,Gibson,47053,No,202.0,186.6,218.3,132,stable,-0.4,-1.0,0.2
40,Putnam,47141,No,201.5,188.2,215.5,176,stable,-0.2,-0.7,0.3
41,Dickson,47043,No,201.1,184.9,218.4,117,falling,-0.6,-1.0,-0.2
42,Hickman,47081,No,201.0,178.4,225.9,60,stable,-0.4,-1.3,0.4
43,Warren,47177,No,200.3,183.0,219.0,100,stable,-0.1,-0.8,0.5
44,Henry,47079,No,200.0,182.3,219.2,99,stable,-0.4,-1.0,0.1
45,Unicoi,47171,No,199.8,176.9,225.3,58,stable,0.1,-0.6,0.7
46,Hawkins,47073,No,196.7,182.6,211.7,152,stable,0.1,-0.3,0.5
47,Hardeman,47069,No,196.5,175.1,220.1,63,stable,-0.4,-1.2,0.4
48,Shelby,47157,No,195.0,190.8,199.2,1767,falling,-1.1,-1.2,-1.0
49,Rhea,47143,No,194.9,176.0,215.4,82,falling,-0.7,-1.3,-0.2

In [60]:
hospice_per_county = hospice_df.county.value_counts().to_dict()

In [61]:
print(hospice_per_county)

{'Davidson': 8, 'Hamilton': 5, 'Knox': 5, 'Shelby': 5, 'Washington': 2, 'Williamson': 2, 'Madison': 2, 'Bradley': 2, 'Robertson': 2, 'Carroll': 2, 'Henry': 1, 'McMinn': 1, 'Wayne': 1, 'Coffee': 1, 'Putnam': 1, 'Lincoln': 1, 'Claiborne': 1, 'Montgomery': 1, 'Hamblen': 1, 'Cocke': 1, 'Sumner': 1, 'Blount': 1, 'Carter': 1, 'Perry': 1, 'Sullivan': 1, 'Obion': 1, 'Fentress': 1, 'Hancock': 1, 'Fayette': 1, 'Rutherford': 1, 'Cumberland': 1}

In [62]:
for county in pop_and_cancer.county: 
    if county in hospice_per_county:
        continue
    else: hospice_per_county[county] = 0

In [63]:
pop_and_cancer['hospice_per_county'] =[hospice_per_county[county] for county in pop_and_cancer.county]

In [64]:
pop_and_cancer.head(150)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,healthy_people_objective,age_adj_death_rate,lower95_confint,upper95_confint,avg_annual_count,recent_trend,5year_death_trend,lower95_confint1,upper95_confint2,hospice_per_county
0,Anderson,75112.0,75131.0,76257.0,5850.0,5690.0,5296.0,5577.0,5689.0,5643.0,...,No,180.6,169.1,192.7,195,falling,-0.7,-1.2,-0.2,0
1,Bedford,45086.0,46259.0,48117.0,3043.0,3207.0,3239.0,2646.0,2938.0,3143.0,...,No,182.7,166.1,200.6,92,falling,-0.7,-1.4,-0.1,0
2,Benton,16511.0,16176.0,15986.0,1259.0,1204.0,1179.0,1224.0,1239.0,1206.0,...,No,233.9,207.1,263.6,59,stable,0.3,-0.4,1.1,0
3,Bledsoe,12882.0,14419.0,14717.0,1005.0,1216.0,1185.0,903.0,1100.0,1197.0,...,No,170.0,143.5,200.6,31,falling,-1.3,-2.3,-0.3,0
4,Blount,123213.0,125827.0,129929.0,9152.0,9658.0,9522.0,8657.0,9094.0,9615.0,...,No,168.2,159.4,177.4,283,falling,-0.9,-1.3,-0.4,0
5,Bradley,99096.0,102816.0,105560.0,6967.0,7306.0,7216.0,6177.0,6774.0,7199.0,...,No,183.0,172.2,194.3,220,falling,-1.0,-1.4,-0.5,0
6,Campbell,40735.0,39895.0,39648.0,2883.0,2863.0,2866.0,2864.0,2810.0,2719.0,...,No,219.2,201.8,237.7,124,stable,-0.4,-0.8,0.0,0
7,Cannon,13801.0,13614.0,14216.0,1093.0,1080.0,1081.0,930.0,994.0,1059.0,...,No,202.4,174.2,234.3,38,stable,-0.2,-1.1,0.7,0
8,Carroll,28448.0,28358.0,27860.0,1966.0,2044.0,1959.0,1945.0,1944.0,1968.0,...,No,221.8,201.2,244.1,89,stable,-0.2,-0.7,0.2,0
9,Carter,57340.0,56270.0,56488.0,4311.0,4195.0,4145.0,4099.0,4273.0,4124.0,...,No,176.2,163.4,189.9,145,falling,-1.0,-1.6,-0.4,0
10,Cheatham,39122.0,39604.0,40330.0,3249.0,3397.0,3280.0,2723.0,2974.0,3224.0,...,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3,0
11,Chester,17193.0,17101.0,17119.0,1112.0,1132.0,1090.0,990.0,1099.0,1117.0,...,No,178.4,153.5,206.5,38,stable,-0.4,-1.5,0.8,0
12,Claiborne,32216.0,31529.0,31609.0,2374.0,2180.0,2262.0,2361.0,2359.0,2218.0,...,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4,0
13,Clay,7851.0,7639.0,7703.0,557.0,582.0,581.0,570.0,546.0,551.0,...,No,209.1,174.1,250.3,26,stable,-1.0,-2.0,0.0,0
14,Cocke,35641.0,35201.0,35556.0,2784.0,2758.0,2618.0,2669.0,2748.0,2780.0,...,No,222.1,203.5,242.2,110,stable,-0.5,-1.0,0.0,0
15,Coffee,52770.0,53521.0,55034.0,3841.0,3938.0,3796.0,3433.0,3710.0,3857.0,...,No,194.2,179.4,209.9,131,falling,-0.7,-1.2,-0.2,0
16,Crockett,14588.0,14645.0,14473.0,1043.0,1122.0,1019.0,901.0,964.0,1036.0,...,No,164.1,139.1,192.7,31,stable,-0.5,-1.3,0.4,0
17,Cumberland,56197.0,57836.0,59078.0,3818.0,3901.0,3620.0,3783.0,4020.0,4243.0,...,No,174.4,162.5,187.0,182,falling,-0.8,-1.3,-0.3,0
18,Davidson,627973.0,670314.0,691243.0,42340.0,43565.0,40889.0,37772.0,41623.0,41751.0,...,No,184.7,179.8,189.7,1137,falling,-1.5,-1.7,-1.2,0
19,Decatur,11718.0,11680.0,11751.0,860.0,856.0,795.0,852.0,910.0,903.0,...,No,208.7,179.4,242.1,39,stable,-0.2,-1.2,0.8,0
20,DeKalb,18695.0,19219.0,19852.0,1340.0,1437.0,1478.0,1323.0,1363.0,1434.0,...,No,178.8,155.4,204.9,44,stable,-0.6,-1.4,0.3,0
21,Dickson,49693.0,50473.0,52853.0,3829.0,3872.0,3912.0,3196.0,3682.0,3836.0,...,No,201.1,184.9,218.4,117,falling,-0.6,-1.0,-0.2,0
22,Dyer,38318.0,37815.0,37463.0,2797.0,2727.0,2595.0,2497.0,2566.0,2513.0,...,No,182.9,165.7,201.4,86,falling,-0.6,-1.1,-0.1,0
23,Fayette,38429.0,39031.0,40036.0,3233.0,3182.0,2934.0,3098.0,3287.0,3364.0,...,Yes,154.3,139.1,170.7,81,falling,-1.4,-2.2,-0.5,0
24,Fentress,17920.0,17838.0,18136.0,1297.0,1301.0,1323.0,1334.0,1321.0,1354.0,...,No,211.1,185.3,239.8,52,stable,-0.5,-1.2,0.3,0
25,Franklin,40961.0,41268.0,41652.0,2990.0,2982.0,2687.0,2936.0,3009.0,3024.0,...,No,184.1,168.4,201.0,105,falling,-0.8,-1.3,-0.2,0
26,Gibson,49734.0,49368.0,49111.0,3567.0,3565.0,3211.0,3206.0,3305.0,3411.0,...,No,202.0,186.6,218.3,132,stable,-0.4,-1.0,0.2,0
27,Giles,29420.0,28824.0,29401.0,2311.0,2334.0,2178.0,2152.0,2174.0,2285.0,...,No,193.7,174.5,214.7,78,stable,-0.7,-1.5,0.1,0
28,Grainger,22721.0,22865.0,23144.0,1720.0,1693.0,1791.0,1627.0,1691.0,1734.0,...,No,222.0,197.9,248.4,66,stable,0.1,-0.7,1.0,0
29,Greene,68838.0,68440.0,68808.0,5196.0,5108.0,4969.0,4885.0,5112.0,5105.0,...,No,185.6,173.4,198.4,181,falling,-3.2,-4.9,-1.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Perry,7938.0,7819.0,7975.0,601.0,511.0,506.0,590.0,606.0,569.0,...,No,216.0,178.5,259.9,25,stable,0.0,-1.4,1.5,0
68,Pickett,5073.0,5068.0,5073.0,364.0,387.0,394.0,385.0,364.0,394.0,...,Yes,158.7,123.3,203.9,15,stable,-0.5,-1.8,0.9,0
69,Polk,16817.0,16685.0,16757.0,1254.0,1274.0,1333.0,1178.0,1251.0,1212.0,...,No,209.5,183.6,238.4,50,stable,-0.8,-1.9,0.3,0
70,Putnam,72569.0,74913.0,77674.0,4636.0,4681.0,4568.0,4329.0,4554.0,4689.0,...,No,201.5,188.2,215.5,176,stable,-0.2,-0.7,0.3,0
71,Rhea,31857.0,32525.0,32691.0,2281.0,2216.0,2235.0,2113.0,2250.0,2256.0,...,No,194.9,176.0,215.4,82,falling,-0.7,-1.3,-0.2,0
72,Roane,54157.0,52827.0,53036.0,4336.0,4088.0,3880.0,4367.0,4400.0,4274.0,...,No,185.2,172.0,199.3,152,falling,-0.7,-1.1,-0.3,0
73,Robertson,66355.0,67869.0,70177.0,5057.0,5349.0,5125.0,4338.0,4770.0,5244.0,...,No,187.2,173.0,202.3,135,falling,-0.8,-1.3,-0.2,0
74,Rutherford,263747.0,288608.0,317157.0,16912.0,19172.0,19955.0,13802.0,16414.0,18303.0,...,No,170.3,162.5,178.4,380,falling,-1.4,-1.7,-1.1,0
75,Scott,22227.0,21986.0,21989.0,1521.0,1530.0,1558.0,1446.0,1464.0,1426.0,...,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1,0
76,Sequatchie,14127.0,14634.0,14736.0,1037.0,1064.0,1030.0,991.0,1112.0,1113.0,...,No,224.3,194.3,257.9,43,rising,1.3,0.3,2.3,0
77,Sevier,89948.0,94570.0,97638.0,6759.0,7121.0,7151.0,6401.0,6893.0,7145.0,...,No,186.7,175.6,198.3,224,falling,-0.5,-0.9,-0.1,0
78,Shelby,928552.0,938434.0,936961.0,66350.0,64536.0,59532.0,59228.0,62411.0,60997.0,...,No,195.0,190.8,199.2,1767,falling,-1.1,-1.2,-1.0,0
79,Smith,19125.0,19026.0,19636.0,1506.0,1578.0,1540.0,1302.0,1392.0,1505.0,...,No,192.2,166.8,220.6,43,stable,-6.7,-13.8,1.0,0
80,Stewart,13349.0,13218.0,13355.0,1024.0,1038.0,1085.0,989.0,1013.0,981.0,...,No,218.2,188.3,252.0,40,stable,0.1,-1.2,1.4,0
81,Sullivan,156755.0,156513.0,157158.0,12017.0,11716.0,11400.0,11519.0,11767.0,11474.0,...,No,181.4,173.6,189.5,425,falling,-0.7,-1.1,-0.4,0
82,Sumner,161199.0,172183.0,183545.0,11949.0,13104.0,13091.0,10627.0,11672.0,12739.0,...,Yes,161.2,153.0,169.6,305,falling,-2.2,-3.6,-0.8,0
83,Tipton,61066.0,61566.0,61366.0,4498.0,4741.0,4383.0,3796.0,4197.0,4395.0,...,No,210.6,194.5,227.6,134,stable,-0.2,-0.8,0.3,0
84,Trousdale,7874.0,7993.0,10083.0,605.0,599.0,639.0,562.0,597.0,616.0,...,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3,0
85,Unicoi,18284.0,17905.0,17759.0,1468.0,1349.0,1264.0,1409.0,1440.0,1413.0,...,No,199.8,176.9,225.3,58,stable,0.1,-0.6,0.7,0
86,Union,19118.0,18990.0,19442.0,1534.0,1500.0,1439.0,1321.0,1446.0,1588.0,...,No,234.2,206.1,265.3,53,stable,-0.5,-1.2,0.2,0
87,Van Buren,5569.0,5653.0,5742.0,465.0,414.0,376.0,472.0,477.0,457.0,...,Yes,160.3,122.7,207.4,14,stable,-0.9,-2.4,0.6,0
88,Warren,39860.0,39934.0,40651.0,2900.0,2888.0,2685.0,2603.0,2772.0,2839.0,...,No,200.3,183.0,219.0,100,stable,-0.1,-0.8,0.5,0
89,Washington,123386.0,125736.0,127806.0,8798.0,8772.0,8328.0,8183.0,8524.0,8793.0,...,No,180.5,171.1,190.3,284,falling,-1.2,-1.6,-0.8,0
90,Wayne,16987.0,16788.0,16583.0,1250.0,1238.0,1207.0,1104.0,1146.0,1202.0,...,No,207.4,181.4,236.4,47,stable,0.1,-0.6,0.9,0
91,Weakley,35042.0,33987.0,33337.0,2282.0,2210.0,2123.0,2205.0,2173.0,2120.0,...,No,187.0,168.9,206.6,81,stable,-0.3,-0.8,0.3,0
92,White,25821.0,26229.0,26753.0,1848.0,1869.0,1902.0,1849.0,1844.0,1835.0,...,No,216.3,195.1,239.4,79,stable,-0.6,-1.3,0.0,0
93,Williamson,184130.0,205213.0,226257.0,15260.0,16295.0,16866.0,12386.0,14701.0,15563.0,...,Yes,127.2,119.8,134.9,239,falling,-3.8,-4.8,-2.9,0
94,Wilson,114677.0,125146.0,136442.0,8985.0,9840.0,9663.0,7687.0,8802.0,9711.0,...,No,170.5,160.4,181.0,229,falling,-2.0,-2.8,-1.2,0
95,Tennessee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2,0
96,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5,0

In [65]:
#IGNORE EVERYTHING BELOW THIS

#drop april est
#pop_df_selection = pop_df[pop_df.columns.drop(list(pop_df.filter(regex='est4')))]

#The commands below ONLY KEEPS stuff with est4
#pop_df_selection = pop_df[pop_df.filter(regex='est4').columns]
#pop_df_selection = pop_df.filter(like='est4')

#pop_df_selection.head()
#list(pop_df_selection)
#pop_df_selection.shape

In [66]:
#list(pop_df_selection)

In [67]:
#pop_df_selection1 = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='2011')))]
#pop_df_selection1.shape

In [68]:

#list(pop_df_selection)
#drop 2011, 2012, 2013, 2015, 2016
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='2011')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='2012')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='2013')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='2015')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='2016')))]


#DROP ALL AGES, BELOW IS NOT SUSTAINABLE
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age999')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age0to4')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age10to14')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age15to19')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='20to24')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age25to29')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age35to39')))]
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age40to44')))]#
#pop_df_selection = pop_df_selection[pop_df_selection.columns.drop(list(pop_df_selection.filter(regex='age45to49')))]





#pop_df_selection1 = pop_df_selection.filter(regex='','age55to59','age60to64','age70to74','age75to79','age80to84','age85plus').columns
#list(pop_df_selection)
#pop_df_selection.shape

#pop_df_selection1 = pop_df_selection.filter(regex='age999', '').columns

In [69]:
#pop_df_selection1 = pop_df.filter(like='age35to39')

In [70]:
#pop_df_selection.shape
#list(pop_df_selection)

In [71]:
#pop_df_selection1 = pop_df_selection[['GEO.id', 'GEO.id2', 'GEO.display-label', 'cen42010sex0_medage', 'est72014sex0_medage', 'est72017sex0_medage',   ]]

In [72]:
#pop_df_selection1.shape

In [73]:
#age_cols = [col for col in pop_df_selection.columns if '50to54''55to59'in col]
#age_cols = [col for col in pop_df_selection.columns if '50to54'in col]

In [74]:
#caller.join(other, lsuffix='_caller', rsuffix='_other')

In [75]:
#hospice_df.head(2)

In [76]:
#hospice_df_vc = hospice_df['county'].value_counts().to_frame()
#print(hospice_df_vc)

In [77]:
#mydict = dict(zip(hospice_df.id, hospice_df.value))